<!DOCTYPE html>
<html lang="ja">
<head>
  <title>Sinatra Tutorial</title>
  <link rel="stylesheet" href="/css/style.css">
  <script type="text/javascript" src="/js/app.js"></script>
</head>
<body>
  <%= yield %>
</body>
</html>
