<h1>Session Form</h1>

<form action="/session" method="POST">
  <label for="name">名前：</label>
  <input type="text" name="name" id="name"/>

  <input type="submit" value="送信する">
</form>

<p>
  <%= @name %>  
</p>
